In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import time
import xlsxwriter

In [3]:
df=pd.read_excel(r'b站科技区2019-1~2020-3.xlsx')
df.head()

,分区,bv,author,mid,date,url,title,coins,danmu,favorite,likes,replay,share,view
0,科学科普,BV1jb411H7aa,芳斯塔芙,72270557.0,2019-03-14 16:50:49,http://www.bilibili.com/video/av46213558,【鬼谷说】三叶虫：一个平凡家族的不屈与彷徨,102514.0,10851.0,39963.0,99928.0,5536.0,10320.0,1909236.0
1,科学科普,BV1vb411K737,黑白键伯辽兹,135398825.0,2019-04-13 11:09:21,http://www.bilibili.com/video/av49146332,我们的一生，在这部短片前1分钟就结束了,71591.0,38311.0,241565.0,153592.0,13092.0,39198.0,2768916.0
2,科学科普,BV1Ut411p7xq,嘿手视频,383164174.0,2019-01-11 10:08:50,http://www.bilibili.com/video/av40436817,水蛭那么喜欢吸血，吸了502胶水会怎么样？真过瘾！,367.0,1859.0,1774.0,8533.0,1033.0,312.0,2375931.0
3,科学科普,BV1Nb411h7bc,芳斯塔芙,72270557.0,2019-02-27 17:00:53,http://www.bilibili.com/video/av44815270,【鬼谷说】棘皮动物：六亲不认的演化步伐,87330.0,15528.0,47185.0,98254.0,4016.0,25713.0,2846369.0
4,科学科普,BV1Sb411G726,芳斯塔芙,72270557.0,2019-04-19 18:46:49,http://www.bilibili.com/video/av49810786,【鬼谷说】软体动物（其三）：远古王者的不屈征途,93172.0,11946.0,32203.0,88683.0,4950.0,6110.0,1834372.0

In [4]:
# 汇总null的数据
df_null=df.isnull().sum()
df_null

分区           0
bv           2
author      12
mid          2
date         3
url          3
title        6
coins        5
danmu        5
favorite     5
likes        5
replay       5
share        5
view         5
dtype: int64

In [5]:
# 判断每列有多少非null的数据，并且数据类型
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50129 entries, 0 to 50128
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   分区        50129 non-null  object
 1   bv        50127 non-null  object
 2   author    50117 non-null  object
 3   mid       50127 non-null  float64
 4   date      50126 non-null  object
 5   url       50126 non-null  object
 6   title     50123 non-null  object
 7   coins     50124 non-null  float64
 8   danmu     50124 non-null  float64
 9   favorite  50124 non-null  float64
 10  likes     50124 non-null  float64
 11  replay    50124 non-null  float64
 12  share     50124 non-null  float64
 13  view      50124 non-null  float64
dtypes: float64(8), object(6)
memory usage: 5.4+ MB

In [6]:
df.describe()

,mid,coins,danmu,favorite,likes,replay,share,view
count,5.012700e+04,5.012400e+04,50124.000000,50124.000000,5.012400e+04,50124.000000,50124.000000,5.012400e+04
mean,1.816982e+08,4.076449e+03,1355.064301,3295.902981,9.773622e+03,834.986114,999.184522,2.353938e+05
std,1.717324e+08,2.630866e+04,5585.656545,15138.432888,3.311456e+04,1718.733729,5720.173433,4.201041e+05
min,5.480000e+02,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,5.000100e+04
25%,2.200942e+07,1.090000e+02,163.000000,319.000000,1.245000e+03,216.000000,74.000000,7.263675e+04
50%,9.820512e+07,5.100000e+02,395.000000,766.000000,3.149000e+03,403.000000,196.000000,1.166520e+05
75%,3.555957e+08,1.990000e+03,978.000000,2127.000000,7.639250e+03,825.000000,546.000000,2.299362e+05
max,5.259212e+08,2.286322e+06,322859.000000,987108.000000,1.704113e+06,49559.000000,373265.000000,1.385015e+07

In [7]:
# 查找空值
df_null=round(df.isnull().sum()/len(df),4)
df_null

分区          0.0000
bv          0.0000
author      0.0002
mid         0.0000
date        0.0001
url         0.0001
title       0.0001
coins       0.0001
danmu       0.0001
favorite    0.0001
likes       0.0001
replay      0.0001
share       0.0001
view        0.0001
dtype: float64

In [8]:
# 剔除空值
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50111 entries, 0 to 50128
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   分区        50111 non-null  object
 1   bv        50111 non-null  object
 2   author    50111 non-null  object
 3   mid       50111 non-null  float64
 4   date      50111 non-null  object
 5   url       50111 non-null  object
 6   title     50111 non-null  object
 7   coins     50111 non-null  float64
 8   danmu     50111 non-null  float64
 9   favorite  50111 non-null  float64
 10  likes     50111 non-null  float64
 11  replay    50111 non-null  float64
 12  share     50111 non-null  float64
 13  view      50111 non-null  float64
dtypes: float64(8), object(6)
memory usage: 5.7+ MB

In [9]:
# ? 如何查看duplicated 的字段,pandas中如何定义duplicate这个东西
df[df.duplicated()].to_excel("duplicated.xlsx")
df=df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48799 entries, 0 to 50128
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   分区        48799 non-null  object
 1   bv        48799 non-null  object
 2   author    48799 non-null  object
 3   mid       48799 non-null  float64
 4   date      48799 non-null  object
 5   url       48799 non-null  object
 6   title     48799 non-null  object
 7   coins     48799 non-null  float64
 8   danmu     48799 non-null  float64
 9   favorite  48799 non-null  float64
 10  likes     48799 non-null  float64
 11  replay    48799 non-null  float64
 12  share     48799 non-null  float64
 13  view      48799 non-null  float64
dtypes: float64(8), object(6)
memory usage: 5.6+ MB

In [12]:
# 把字符转换成时间戳
# ? 这里format是说原时间的格式，还是要转换成的格式
df['date']=pd.to_datetime(df['date'],format='%Y-%M-%D %H:%M')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48799 entries, 0 to 50128
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   分区        48799 non-null  object
 1   bv        48799 non-null  object
 2   author    48799 non-null  object
 3   mid       48799 non-null  float64
 4   date      48799 non-null  datetime64[ns]
 5   url       48799 non-null  object
 6   title     48799 non-null  object
 7   coins     48799 non-null  float64
 8   danmu     48799 non-null  float64
 9   favorite  48799 non-null  float64
 10  likes     48799 non-null  float64
 11  replay    48799 non-null  float64
 12  share     48799 non-null  float64
 13  view      48799 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 5.6+ MB

,分区,bv,author,mid,date,url,title,coins,danmu,favorite,likes,replay,share,view
0,科学科普,BV1jb411H7aa,芳斯塔芙,72270557.0,2019-03-14 16:50:49,http://www.bilibili.com/video/av46213558,【鬼谷说】三叶虫：一个平凡家族的不屈与彷徨,102514.0,10851.0,39963.0,99928.0,5536.0,10320.0,1909236.0
1,科学科普,BV1vb411K737,黑白键伯辽兹,135398825.0,2019-04-13 11:09:21,http://www.bilibili.com/video/av49146332,我们的一生，在这部短片前1分钟就结束了,71591.0,38311.0,241565.0,153592.0,13092.0,39198.0,2768916.0
2,科学科普,BV1Ut411p7xq,嘿手视频,383164174.0,2019-01-11 10:08:50,http://www.bilibili.com/video/av40436817,水蛭那么喜欢吸血，吸了502胶水会怎么样？真过瘾！,367.0,1859.0,1774.0,8533.0,1033.0,312.0,2375931.0
3,科学科普,BV1Nb411h7bc,芳斯塔芙,72270557.0,2019-02-27 17:00:53,http://www.bilibili.com/video/av44815270,【鬼谷说】棘皮动物：六亲不认的演化步伐,87330.0,15528.0,47185.0,98254.0,4016.0,25713.0,2846369.0
4,科学科普,BV1Sb411G726,芳斯塔芙,72270557.0,2019-04-19 18:46:49,http://www.bilibili.com/video/av49810786,【鬼谷说】软体动物（其三）：远古王者的不屈征途,93172.0,11946.0,32203.0,88683.0,4950.0,6110.0,1834372.0

In [13]:
df.to_excel("video_info.xlsx",engine="xlsxwriter")

In [16]:
df.head(1)

,分区,bv,author,mid,date,url,title,coins,danmu,favorite,likes,replay,share,view
0,科学科普,BV1jb411H7aa,芳斯塔芙,72270557.0,2019-03-14 16:50:49,http://www.bilibili.com/video/av46213558,【鬼谷说】三叶虫：一个平凡家族的不屈与彷徨,102514.0,10851.0,39963.0,99928.0,5536.0,10320.0,1909236.0

In [18]:
df=df[['分区','bv','author','date','coins','danmu','favorite','likes','replay','share','view']]
df.head()

,分区,bv,author,date,coins,danmu,favorite,likes,replay,share,view
0,科学科普,BV1jb411H7aa,芳斯塔芙,2019-03-14 16:50:49,102514.0,10851.0,39963.0,99928.0,5536.0,10320.0,1909236.0
1,科学科普,BV1vb411K737,黑白键伯辽兹,2019-04-13 11:09:21,71591.0,38311.0,241565.0,153592.0,13092.0,39198.0,2768916.0
2,科学科普,BV1Ut411p7xq,嘿手视频,2019-01-11 10:08:50,367.0,1859.0,1774.0,8533.0,1033.0,312.0,2375931.0
3,科学科普,BV1Nb411h7bc,芳斯塔芙,2019-02-27 17:00:53,87330.0,15528.0,47185.0,98254.0,4016.0,25713.0,2846369.0
4,科学科普,BV1Sb411G726,芳斯塔芙,2019-04-19 18:46:49,93172.0,11946.0,32203.0,88683.0,4950.0,6110.0,1834372.0

In [21]:
# df loc和iloc区别在哪里
# https://www.yisu.com/zixun/176924.html
sc=df.loc[df['分区']=="科学科普"]
sc.head()

,分区,bv,author,date,coins,danmu,favorite,likes,replay,share,view
0,科学科普,BV1jb411H7aa,芳斯塔芙,2019-03-14 16:50:49,102514.0,10851.0,39963.0,99928.0,5536.0,10320.0,1909236.0
1,科学科普,BV1vb411K737,黑白键伯辽兹,2019-04-13 11:09:21,71591.0,38311.0,241565.0,153592.0,13092.0,39198.0,2768916.0
2,科学科普,BV1Ut411p7xq,嘿手视频,2019-01-11 10:08:50,367.0,1859.0,1774.0,8533.0,1033.0,312.0,2375931.0
3,科学科普,BV1Nb411h7bc,芳斯塔芙,2019-02-27 17:00:53,87330.0,15528.0,47185.0,98254.0,4016.0,25713.0,2846369.0
4,科学科普,BV1Sb411G726,芳斯塔芙,2019-04-19 18:46:49,93172.0,11946.0,32203.0,88683.0,4950.0,6110.0,1834372.0

In [31]:
# reset_index()用法
# TO DO -- 一会去测试一下效果
count_no_index=sc.groupby('author')['date'].count()
count=sc.groupby('author')['date'].count().reset_index()
count
count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1063 entries, 0 to 1062
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  1063 non-null   object
 1   date    1063 non-null   int64
dtypes: int64(1), object(1)
memory usage: 16.7+ KB

author
1235623345      1
18487150435     4
-LKs-           5
-古人云-           2
-墓场-            2
               ..
黑椒墨鱼            2
黑殿gkd           2
黑毛羊驼           15
黑白键伯辽兹          2
龙女之声           85
Name: date, Length: 1063, dtype: int64

In [29]:
# 发布大于5条视频的作者只有208个
count.columns=['author','Times']
com_m=count[count['Times']>5]
com_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208 entries, 6 to 1062
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  208 non-null    object
 1   Times   208 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.9+ KB

In [38]:
# datetime.dt.days 保留完整天数
last=sc.groupby('author')['date'].max()
late=sc.groupby('author')['date'].min()
F=round((last-late).dt.days/sc.groupby('author')['date'].count()).reset_index()
F.columns=['author','F']
F=pd.merge(com_m,F,on='author',how='inner')
F.head()

            author  Times     F
0           -狐思乱想-      6  29.0
1      3Blue1Brown     28  15.0
2  404NotFound错误页面     19  22.0
3          Alien老吴     15  20.0
4          B站好物推荐官      8   4.0

In [39]:
# idxmin用法
F.loc[F['F'].idxmin()]

author    揭露真相事实
Times         10
F            0.0
Name: 112, dtype: object